@import "../../common/styles/contextNav.scss";

.mmt-allSettings-container {
   padding: 1.75em;
   padding-top: 20px;
   height: 100%;
   .mmt-col-settings {
      border-radius: 4px;
      padding-top: 24px;
   }
}

.mmt-default {
   .mmt-col-settings {
      background-color: #ffffff;
   }
}

.mmt-dark {
   .mmt-col-settings {
      background-color: rgb(37, 36, 35);
   }
}

