.mmt-topActionsBar {
   padding-top: 8px;
   padding-bottom: 8px;
}

.mmt-appraisalPeriodBar {
   padding: 1.25em 1em;
   &.mmt-divider-only {
      max-height: 10px;
      overflow: hidden;
   }

   .mmt-userGoalsHeader-label {
      color: #fff !important;
   }
   .mmt-lineManager-value {
      color: #a6a6a6 !important;
      font-size: 16px;
      margin-top: -5px;
   }

   .mmt-goalStage-container,
   .mmt-goalStage-row {
      height: 100%;
   }
}

@media (min-width: 768px) {
   .mmt-teamGoalsHeader-container {
      margin-bottom: -14px;
   }
}

@media (max-width: 767px) {
   .mmt-teamGoalsHeader-container {
      margin-top: 0.5em;
      justify-content: center !important;
   }

   .mmt-userGoalsHeader {
      .mmt-userManagers-container {
         padding: 10px;
      }
      .mmt-goalsStage-container {
         justify-content: center !important;
         .ui-flex {
            justify-content: center !important;
         }
      }
   }
}
