.mmt-contextNav-container {
   min-height: 100%;
   border-right: 1px solid;
   .mmt-contextNav-title {
      // padding-top: 0.75rem;
      // padding-left: 0.75rem;
   }
   .ui-menu {
      background-color: transparent;
      border: 0px;
      border-radius: initial;
      .ui-menu__itemwrapper {
         padding-left: 0.75rem;
         background-color: transparent;
         white-space: nowrap !important;
         overflow: hidden;
         text-overflow: ellipsis;

         .ui-menu__item {
            padding-left: 0px;
            .ui-menu__itemcontent {
               margin-right: 0px;
               width: auto;
            }
         }
      }
      .mmt-selected {
         font-weight: bold;
      }
   }
}

.mmt-default {
   .mmt-contextNav-container {
      // background-color: #f5f5f5 !important;
      border-color: #e0e0e0;
      .ui-menu {
         li:hover {
            background-color: rgba(212, 212, 212, 1);
         }
      }
   }
}

.mmt-dark {
   .mmt-contextNav-container {
      // background-color: rgba(10, 10, 10, 1) !important;
      // border-color: rgba(10, 10, 10, 1);
      .ui-menu {
         li:hover {
            background-color: rgba(10, 10, 10, 1);
         }
         .mmt-selected {
            color: #fff;
         }
      }
   }
}
