@import "../Form.scss";

#root {
   .mmt-taskModule {
      .mmt-taskModule-headerAndBody {
         height: calc(100vh - 100px);
         overflow-y: auto;
         overflow-x: hidden;

         &.mmt-goalBatch-submit {
            padding: 0px 115px;
            text-align: center;

            .mmt-goalBatch-submit-image {
               height: 100%;
               width: 100%;
               max-height: 200px;
               max-width: 200px;
            }
         }
      }
      .mmt-taskModule-body {
         // margin-bottom: 75px !important;
         // height: calc(100vh - 170px);
         // overflow-y: auto;
         // overflow-x: hidden;
         // padding-top:
         // padding-bottom: 0px;
      }

      .mmt-footer-container {
         // background-color: transparent !important;
         padding-top: 20px !important;
         padding-bottom: 20px !important;
         position: fixed;
         bottom: 0;
         width: 100%;
         left: 0;
         // padding-left: 20px;
         padding-right: 20px !important;
         box-shadow: 0px -4px 7px -1px rgba(0, 0, 0, 0.25);
         -webkit-box-shadow: 0px -4px 7px -1px rgba(0, 0, 0, 0.25);
         -moz-box-shadow: 0px -4px 7px -1px rgba(0, 0, 0, 0.25);
      }
   }
}

.mmt-default {
   .mmt-footer-container {
      background-color: rgb(243, 242, 241);
      border-top: 1px solid rgba(0, 0, 0, 0.15);
   }
}

.mmt-dark {
   .mmt-footer-container {
      background-color: rgb(32, 31, 31);
   }
}

// .mmt-taskModule-footer {
// 	// height: 60px;
// 	padding-top: 20px !important;
// 	padding-bottom: 20px !important;
// 	position: fixed;
// 	bottom: 0;
// 	width: 100%;
// 	left: 0;
// 	// padding-left: 20px;
// 	padding-right: 20px !important;
// }

// .mmt-taskModule-test{ height: 100vh; width: 100%;}
// .mmt-taskModule-header-test{ height: 20vh;}
// .mmt-taskModule-footer-test{ height: 75px;}
// .mmt-taskModule-body-test{ max-height: calc(100vh - 75px); overflow-y: auto}
